<!DOCTYPE html>
<head>
  <title>A minimal knitr example in HTML</title>
</head>
<body>
<!--begin.rcode
  opts_chunk$set(fig.width=5, fig.height=5, fig.path='ex-out-')
  end.rcode-->
  

<h2>Make an API call</h2> 
<!--begin.rcode api_call, eval=FALSE
library(RCurl); library(RJSONIO)
dat <- fromJSON(getURL("https://api.github.com/users/hadley/repos"))
    end.rcode-->
    
<h2>Manipulate the data</h2> 
<!--begin.rcode manipulate_data, eval=FALSE
library(plyr); library(reshape2)
dat_df <- ldply(dat, function(x) as.data.frame(x[names(x) %in% c("name","watchers_count","forks","open_issues")]))
dat_melt <- melt(dat_df)
    end.rcode-->
    
<h2>Run some statistical model</h2> 
<!--begin.rcode run-model, eval=FALSE
lm(value ~ variable, data = dat_melt)
    end.rcode-->
    
<h2>Visualize results</h2> 
<!--begin.rcode visualize_data, eval=FALSE
library(ggplot2)
ggplot(dat_melt, aes(name, value, colour = variable)) +
	geom_point() +
	coord_flip()
    end.rcode-->

</body>
</html>