<!DOCTYPE html>
<head>
  <title>A minimal knitr example in HTML</title>
</head>
<body>
<!--begin.rcode
  opts_chunk$set(fig.width=5, fig.height=5, fig.path='ex-out-')
  end.rcode-->

  <p>This is a minimal example which shows <strong>knitr</strong>
  working with HTML
  pages. See <a href="https://github.com/downloads/yihui/knitr/knitr-minimal.html">here</a>
  for the output and
  <a href="https://github.com/yihui/knitr/blob/master/inst/examples/knitr-minimal.Rhtml">here</a>
  for the source.</p>

  <p>Boring stuff as usual:</p>
  
<!--begin.rcode foo, eval=FALSE
figshare(data)
# code doesn't work yet but once it does should return a persistent identifier
    end.rcode-->

<p> stuff goes here</p>
<br><br>

<!--begin.rcode html-cars-scatter, eval=FALSE
library(rplos)
plot_throughtime(list('reproducible science'), 500)
    end.rcode-->

  <p>Errors, messages and warnings can be put into <code>div</code>'s
  with different <code>class</code>es:</p>
</body>
</html>