/* line 94, ../scss/default.scss */
body {
  background: #fff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic
}

pre {
	font-family: 'Inconsolata', 'Courier New', monospace;
	font-size: 15px;
	line-height: 28px;
	padding: 10px 0 10px 60px;
	letter-spacing: -1px;
	margin-bottom: 0px;
	width: 106%;
	left: -60px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

/* line 248, ../scss/default.scss */
slides.layout-widescreen > slide,
slides.layout-faux-widescreen > slide {
  margin-left: -650px;
  width: 1300px;
  height: 750px;
  margin-top: -390px;
}

article li {
  font-size: 34px;	
}

article p {
  font-size: 36px;	
}

.title-slide {
	background-color: #60CCFB;
}

.title-slide hgroup {
	top: 146px;
}

.title-slide hgroup p {
	font-size: 29px;
	color: #797979;
	line-height: 1.3;
	margin-top: 2em;
}

/* line 769, ../scss/default.scss */
.centered {
  text-align: left;
}

slides > slide.backdrop{
	background: white;
};

.logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10
}

slide:not(.segue) h2 {
    font-family: 'Calibri',Arial,sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.2em;
    color: #024DFD;
}

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  font-size: 24px;
  line-height: 56px;
  font-family: 'Trebuchet MS';
  font-weight: bolder;
  color: rgb(102, 102, 102);
}

table td, table th {
  font-size: 24px;
  padding: 1em 0.5em;
}