/* line 94, ../scss/default.scss */
body {
  background: #fff;
}

/* line 248, ../scss/default.scss */
slides.layout-widescreen > slide,
slides.layout-faux-widescreen > slide {
  margin-left: -650px;
  width: 1300px;
  height: 750px;
  margin-top: -390px;
}

article li {
  font-size: 36px;	
}

.title-slide {
	background-color: #60CCFB;
}

.title-slide hgroup {
	top: 146px;
}

.title-slide hgroup p {
	font-size: 29px;
	color: #797979;
	line-height: 1.3;
	margin-top: 2em;
}

/* line 769, ../scss/default.scss */
.centered {
  text-align: left;
}

slides > slide.backdrop{
	background: white;
};